<div class="container">
  <div class="row" *ngIf="games && games.length > 0">
    <h5 class="mt-3 mb-0">Recently Added</h5>

    <div class="col-sm-auto" *ngFor="let game of games">
      <div class="card border-0" style="width: 15rem">
        <img src="{{ game.imgurl }}" class="card-img-top text-center" alt="..." />
        <div class="card-body">
          <h5 class="card-title cut-text mb-0">{{ game.name }}</h5>
          <p class="card-text">{{ game.platform }}</p>
          <p class="card-text">{{ game.description }}</p>
        </div>
        <div class="card-body text-center">
          <a
            asp-controller="Hotel"
            asp-action="GetOneHotel"
            asp-route-id="@hotel.Id"
            class="btn btn-primary text-center"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
